@{
    ViewBag.Subtitulo = "Página Principal";
}

<h1 class="text-primary">Bem-Vindo ao <b>EstoqueWeb</b></h1>
<hr>
<p>Essa aplicação permite gerenciar seu estoque de produtos. Use o menu superior para acesssar os recursos da aplicação.</p>